:root {
    --dark-blue: #002438;
    --skin-color: #F8C09C;
    --dark-skin-color: #EF947D;
    --red-color: #EE2262;
    --dark-red-color: #C21550;
    --indigo-color: #5C2583;
    --dark-indogo-color: #3C0456;
    --tarquois-colour: #1DADAB;
    --dark-tarquois-colour: #168B91;
    --silver-color: #CDDEE7;
}
body{
    padding: 0;
    margin: 0;
    background: #fafafa;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.character {
    position: relative;
    width: 190px;
    height: 540px;
}

.hair {
    position: absolute;
    background-color: var(--dark-blue);
    height: 190px;
    width: 190px;
    top: 0;
    left: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.face {
    background-color: var(--skin-color);
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 10px;
}
.eyebrow {
    height: 14px;
    width: 34px;
    background: #002438;
    position: absolute;
    top: 70px;
    border-radius: 50px;
}
.eyebrow.left {
    left: 56px;
}
.eyebrow.right {
    right: 56px;
}

.eye {
    height: 16px;
    width: 13px;
    border-radius: 50px;
    background: var(--dark-blue);
    position: absolute;
    top: 90px;
}
.eye.left {
    left: 66px;
}
.eye.right {
    right: 66px;
}
.mouth {
    width: 115px;
    height: 60px;
    border-bottom-left-radius: 58px;
    border-bottom-right-radius: 58px;
    position: absolute;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 125px;
}
.ear {
    position: absolute;
    border-radius: 50px;
    top: 124px;
    height: 25px;
    width: 25px;
    background: var(--dark-skin-color);
}

.ear.left {
    left: 0;
}
.ear.right {
    right: 0;
}
.neck {
    height: 85px;
    width: 50px;
    background: var(--skin-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: 185px;
    border-radius: 50px;
}
.neck:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-skin-color);
    content: '';
    border-radius: 50px;
    top: -25px;
}
.shirt {
    height: 95px;
    width: 140px;
    top: 230px;
    background-color: var(--red-color);
    position: absolute;
    z-index: -2;
    left: 50%;
    transform: translate(-50%);
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}
.shirt:before {
    content: '';
    background-color: var(--dark-red-color);
}
.shirt-hand {
    background-color: var(--dark-red-color);
    width: 70px;
    height: 52px;
    position: absolute;
    z-index: -3;
    top: 260px;
}
.shirt-hand.left {
    left: 0;
    border-top-left-radius: 100px;
}
.shirt-hand.right {
    right: 0;
    border-top-right-radius: 100px;
}
.hand {
    width: 25px;
    height: 80px;
    background-color: var(--skin-color);
    top: 312px;
    position: absolute;
    z-index: -3
}
.hand:before {
    width: 70px;
    height: 70px;
    position: absolute;
    content: '';
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: -56px;
}
.hand.left {
    left: 5px;
}
.hand.left:before {
    left: -25px;
}
.hand.right:before {
    right: -25px;
}
.hand.right {
    right: 5px;
}
.pant {
    height: 100px;
    width: 140px;
    top: 324px;
    background-color: var(--indigo-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.pant:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
.pant-leg {
    width: 52px;
    height: 37px;
    background-color: var(--dark-indogo-color);
    position: absolute;
    top: 400px;
    z-index: -1;
}
.pant-leg.left {
    left: 43px;
}
.pant-leg.right {
    right: 43px;
    background-color: var(--indigo-color);
}
.leg {
    width: 52px;
    height: 37px;
    position: absolute;
    top: 437px;
}
.leg:before {
    content: '';
    background-color: var(--red-color);
    width: 52px;
    height: 15px;
    position: absolute;
    top: 36px;
}
.leg:after {
    content: '';
    background-color: var(--tarquois-colour);
    width: 52px;
    height: 15px;
    position: absolute;
    top: 51px;
}
.leg.left {
    left: 43px;
    background-color: var(--dark-skin-color);
}
.leg.left:before {
    background-color: var(--dark-red-color);
}
.leg.left:after {
    background-color: var(--dark-tarquois-colour);
}
.leg.right {
    right: 43px;
    background-color: var(--skin-color);
}
.shoe {
    width: 95px;
    height: 15px;
    position: absolute;
    top: 518px;
    background-color: #000;
}
.shoe:before {
    content: '';
    width: 52px;
    height: 15px;
    position: absolute;
    background: var(--indigo-color);
    top: -15px;
}
.shoe.left:before {
    left: 43px;
    background-color: var(--dark-indogo-color);
}
.shoe.left{
    left: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.shoe.right{
    right: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.shadow {
    background-color: var(--silver-color);
    border-radius: 50px;
    width: 200%;
    position: absolute;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: -1;
}